.background {
    background-color: rgb(255, 240, 209);
    min-height: 100vh;
    min-width: 100vw;
}

.boardBg {
    min-width: 100vw;
}

.navbar {
    background-color: rgb(255, 227, 170);
}

.task,
.task:focus {
    width: 100%;
    border: none;
    border-radius: 4px;
    box-shadow: none;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.225) !important;
    text-align: left;
    /* margin:0; */
}

.task:hover,
.task:focus {
    box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.225) !important;
}

.container {
    padding: 0;
    margin: 10px;
    float: left;
    border-radius: 8px;
    width: 30vw;
    max-width: 240px;
    min-width: 200px;
}

.addcard {
    /* float: right; */
}

.rowmargin {
    margin-top: 10px;
    margin-bottom: 10px;
}

.contcol {
    margin-left: 10px;
    margin-right: 10px;
}

.none {
    background-color: white;
}

.redCard,
.redCard:active,
.redCard:focus {
    background-color: red;
}

.redCard:active,
.redCard:hover {
    color: red !important;
    background-color: white !important;
}

.orangeCard,
.orangeCard:active,
.orangeCard:focus {
    background-color: orange;
}

.orangeCard:active,
.orangeCard:hover {
    color: orange !important;
    background-color: white !important;
}

.greenCard,
.greenCard:active,
.greenCard:focus {
    background-color: green;
}

.greenCard:active,
.greenCard:hover {
    color: green !important;
    background-color: white !important;
}

.blueCard,
.blueCard:active,
.blueCard:hover {
    background-color: blue;
}

.blueCard:active,
.blueCard:hover {
    color: blue !important;
    background-color: white !important;
}

.indigoCard,
.indigoCard:active,
.indigoCard:hover {
    background-color: indigo;
}

.indigoCard:active,
.indigoCard:hover {
    color: indigo !important;
    background-color: white !important;
}
.violetCard,
.violetCard:active,
.violetCard:hover {
    background-color: violet;
}

.violetCard:active,
.violetCard:hover {
    color: violet !important;
    background-color: white !important;
}
