.addButton {
    border: none;
    height: 4.5vh;
    width: 4.5vh;
    background: url("/plus.png") no-repeat;
    background-size: 100%;
}

.deleteButton {
    border: none;
    height: 4.5vh;
    width: 4.5vh;
    background: url("/trash.png") no-repeat;
    background-size: 100%;
}

.editButton {
    border: none;
    height: 4.5vh;
    width: 4.5vh;
    background: url("/pencil.png") no-repeat;
    background-size: 100%;
}

.fitCategory {
    width: 100%;
}

.buttonDiv {
    display: flex;
    justify-content: center;
}

.background {
    background-color: rgb(255, 240, 209);
    min-height: 100vh;
    min-width: 100vw;
}

.boardBg {
    min-width: 100vw;
}

.categoryHeader {
    border: none;
    font-size: 2.5vh;
    background-color: lightslategray;
    display: flex;
    color: white;
}

.categoryHeader2 {
    background-color: lightslategray;
}

.categoryBody {
    background-color: rgb(230, 230, 230);
}

.navbar {
    background-color: rgb(255, 227, 170);
}

.task,
.task:focus {
    width: 100%;
    border: none;
    border-radius: 4px;
    box-shadow: none;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.225) !important;
    text-align: left;
    /* margin:0; */
}

.task:hover,
.task:focus {
    box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.225) !important;
}

.container {
    padding: 0;
    margin: 10px;
    float: left;
    border-radius: 8px;
    width: 15vw;
}

.rowmargin {
    margin-top: 10px;
    margin-bottom: 10px;
}

.contcol {
    margin-left: 10px;
    margin-right: 10px;
}

.none {
    background-color: white !important;
}

.RedCard,
.RedCard:active,
.RedCard:focus {
    background-color: red !important;
    border: none !important;
}

.RedCard:active,
.RedCard:hover {
    color: red !important;
    background-color: white !important;
}

.OrangeCard,
.OrangeCard:active,
.OrangeCard:focus {
    background-color: orange !important;
    border: none !important;
}

.OrangeCard:active,
.OrangeCard:hover {
    color: orange !important;
    background-color: white !important;
}

.GreenCard,
.GreenCard:active,
.GreenCard:focus {
    background-color: green !important;
    border: none !important;
}

.GreenCard:active,
.GreenCard:hover {
    color: green !important;
    background-color: white !important;
}

.BlueCard,
.BlueCard:active,
.BlueCard:hover {
    background-color: blue !important;
    border: none !important;
}

.BlueCard:active,
.BlueCard:hover {
    color: blue !important;
    background-color: white !important;
}

.IndigoCard,
.IndigoCard:active,
.IndigoCard:hover {
    background-color: indigo !important;
    border: none !important;
}

.IndigoCard:active,
.IndigoCard:hover {
    color: indigo !important;
    background-color: white !important;
}
.VioletCard,
.VioletCard:active,
.VioletCard:hover {
    background-color: violet !important;
    border: none !important;
}

.VioletCard:active,
.VioletCard:hover {
    color: violet !important;
    background-color: white !important;
}
