.background {
    background-color: rgb(255, 240, 209);
    display: flex;
    justify-content: center;
}

.buttonBox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
}

.rlButton {
    width: 30vw;
    height: 20vw;
    border: none !important;
    align-items: stretch;
    text-align: center;
    font-size: 3vw;
    margin: 5vw;
}

.orange,
.orange:active,
.orange:focus {
    background-color: orange;
    text-align: center;
}

.orange:active,
.orange:hover {
    color: orange !important;
    background-color: white !important;
    text-align: center;
}

.indigo,
.indigo:active,
.indigo:focus {
    background-color: indigo;
    text-align: center;
}

.indigo:active,
.indigo:hover {
    color: indigo !important;
    background-color: white !important;
    text-align: center;
}

.submit {
    border-style: none !important;
}

.error {
    color: red;
}
