.add {
    max-height: 5vh;
    max-width: 5vh;
}

.bkgd {
    background-color: rgb(255, 240, 209);
    min-height: 92.2vh;
}

.addBoard {
    display: flex;
    justify-content: center;
}

.backgroundU {
    min-width: 98vw;
    max-width: 98vw;
    display: flex;
    justify-content: left;
    flex-direction: row;
}

.board {
    height: 25vh;
    width: 25vh;
    text-align: center;
}

.green,
.green:active,
.green:focus {
    margin: 2vh;
    padding: 0px !important;
    min-height: 25vh;
    height: 25vh;
    min-width: 25vh;
    width: 25vh;
    background-color: green;
    border-style: none !important;
}

.green:active,
.green:hover {
    color: green !important;
    background-color: white !important;
    border-style: none !important;
}

.greenB {
    background-color: green;
}

h1 {
    font-size: 5vh;
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 0vh;
    margin: 0px;
}

h2 {
    font-size: 4vh;
    padding-left: 3vh;
    margin: 0px;
}

h3 {
    font-size: 3vh;
}
